<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contentHubPage ANY>
<!ATTLIST contentHubPage id ID #REQUIRED>
]>
<root id="-1">
  <contentHubPage id="1050" key="6e0ed2e1-19cd-4cba-bfff-f644a44066da" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-03-20T18:22:52" updateDate="2017-03-21T01:56:44" nodeName="Stacked Numbered Info" urlName="stacked-numbered-info" path="-1,1050" isDoc="" nodeType="1048" creatorName="Harshwardhan Dangra" writerName="Harshwardhan Dangra" writerID="0" template="1047" nodeTypeAlias="contentHubPage">
    <gridLayout><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "heading": "6 common scams in Bali"
                  },
                  "editor": {
                    "alias": "fcstackednumberinfo"
                  },
                  "active": true,
                  "id": 6,
                  "inputs": [
                    {
                      "heading": "Corrupt Police Officers",
                      "rteValue": "<p>Corrupt traffic police are constantly on the lookout for tourists driving motorbikes or cars. They will slap a fine on you for bogus traffic violations and expect you to pay a bribe to be released. While you can settle these 'fines' immediately we suggest you try to avoid driving wherever possible. There are locaal rules you may be unfamiliar with.</p>\n<ul>\n<li>If you want to drive, familiarise yourself with all the rules. Obey them. See Zen Driving Rules for more information.</li>\n<li>Wear a helmet!</li>\n<li>Expect to be stopped by police.</li>\n<li>Carry you international driver's licence with you when driving.</li>\n<li>If you're cought by corrupt police you'll probably lose out financially.</li>\n<li>Bribing is illegal in Bali so try to avoid the police where possible.</li>\n</ul>",
                      "image": {
                        "focalPoint": {
                          "left": 0.5,
                          "top": 0.5
                        },
                        "id": 1051,
                        "image": "/media/1001/corruptpolice.png",
                        "altText": "Courrupt Police"
                      },
                      "id": 1
                    },
                    {
                      "heading": "Zen Driving Rules",
                      "rteValue": "<ul>\n<li>Don't get frustrated or offended when driving.</li>\n<li>Don't speed - traffic doesn't get much faster than 40km/h.</li>\n<li>Whatever you see in front of you is your responsiblility.</li>\n<li>Lane changing without notice is normal - use your horn to overtake or get noticed.</li>\n<li>Be alert, aware and fully conscious.</li>\n<li>Don't ever drink and drive.</li>\n<li>Share the road.</li>\n</ul>",
                      "image": {
                        "focalPoint": {
                          "left": 0.5,
                          "top": 0.5
                        },
                        "id": 1052,
                        "image": "/media/1002/stacked.png",
                        "altText": "Pick Pocket"
                      },
                      "id": 2
                    },
                    {
                      "heading": "Pickpockets in Bali",
                      "rteValue": "<p>Pickpockets are massters at confusing people. They work alone or in groups and watch your body language before stealing from you. Tourists are often victims of bag snatching.</p>\n<ul>\n<li>Be alert in croweded places especially if you have to squeeze past people on the street.</li>\n<li>Be wary if a group of sellers crowd around you.</li>\n<li>Keep your items close to you and wear clothing with zipper pockets.</li>\n</ul>",
                      "image": {
                        "focalPoint": {
                          "left": 0.5,
                          "top": 0.5
                        },
                        "id": 1051,
                        "image": "/media/1001/corruptpolice.png",
                        "altText": "Police"
                      },
                      "id": 3
                    },
                    {
                      "heading": "Temples in Bali",
                      "rteValue": "<p>Balinese temples are often filled with hordes of macaques (a.k.a natural-born pickpockets) who will snatch your belogings if left unattended. Occasionally you'll see young boys who are familiar with themonkeys. They can get your items back for you - if you pay them a big fee.</p>\n<p>Keep your belongings close to you and be wary of the monkeys. They can become aggressive and bite you putting you at risk of rabies infection.</p>",
                      "image": {
                        "focalPoint": {
                          "left": 0.5,
                          "top": 0.5
                        },
                        "id": 1052,
                        "image": "/media/1002/stacked.png",
                        "altText": "pick pocket"
                      },
                      "id": 4
                    },
                    {
                      "heading": "Getting taxi in Bali",
                      "rteValue": "<p>Don't negotiate fares with taxi drivers on your own. They will always come out on top financially. They use tactics such as saying their meter is broken or take you the long way to a close destination.</p>\n<p>Be aware of your luggage when catching a taxi. Keep your valuable items with you in the car and don't place them in the boot. You may accidentally forget them or the driver may speed off with them!</p>",
                      "image": {
                        "focalPoint": {
                          "left": 0.5,
                          "top": 0.5
                        },
                        "id": 1051,
                        "image": "/media/1001/corruptpolice.png",
                        "altText": "Corrupt Police"
                      },
                      "id": 5
                    },
                    {
                      "heading": "Other scams in Bali",
                      "rteValue": "<ul>\n<li>'Students' approach you asking you to complete a survey. Don't share your hotel or contact details. If you do they will call you later to redeem a free breakfast or lunch with a free pickup in a hotel somewhere else. You'll find yourself in the middle of nowhere with sales people pushing you to buy an expensive timeshare and if you say no, they will leave you stranded with no way to get back to your hotel.</li>\n<li>Fish restaurants ask you to choose alive fish/olbster from the tank. Keep in mind this fish/lobster will be much more expensive than the advertised price on the menu.</li>\n<li>Foreign exchange shops also have scams. See Using Money in Bali for further information.</li>\n<li>Surfers should check any surfboards they hire for cracks. Some hire shops glue broken boards back together. If they break while you use them the hire shop will demand massive compensation.</li>\n</ul>",
                      "image": {
                        "focalPoint": {
                          "left": 0.5,
                          "top": 0.5
                        },
                        "id": 1052,
                        "image": "/media/1002/stacked.png",
                        "altText": "Pick Pocket"
                      },
                      "id": 6
                    }
                  ]
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "797c3b2b-36a5-ce35-69d5-ced1be6c05f9",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></gridLayout>
  </contentHubPage>
</root>