<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contentHubPage ANY>
<!ATTLIST contentHubPage id ID #REQUIRED>
]>
<root id="-1">
  <contentHubPage id="1050" key="6e0ed2e1-19cd-4cba-bfff-f644a44066da" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-03-20T18:22:52" updateDate="2017-03-20T20:35:18" nodeName="Stacked Numbered Info" urlName="stacked-numbered-info" path="-1,1050" isDoc="" nodeType="1048" creatorName="Harshwardhan Dangra" writerName="Harshwardhan Dangra" writerID="0" template="1047" nodeTypeAlias="contentHubPage">
    <gridLayout><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "fcstackednumberinfo"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "797c3b2b-36a5-ce35-69d5-ced1be6c05f9",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></gridLayout>
  </contentHubPage>
</root>