<div ng-controller="CHControls.RteAllOptions" id="{{control.uniqueId}}">
    <div ng-controller="Umbraco.PropertyEditors.Grid.RichTextEditorController as vm" class="editorname">
        <div grid-rte
             configuration="rteconfig"
             value="control.rteValue"
             unique-id="control.$uniqueId"
             on-link-picker-click="vm.openLinkPicker"
             on-media-picker-click="vm.openMediaPicker"
             on-embed-click="vm.openEmbed"
             on-macro-picker-click="vm.openMacroPicker" style="border:4px solid #EB4F1C;" class="testclass">
        </div>
        <umb-overlay ng-if="vm.linkPickerOverlay.show"
                     model="vm.linkPickerOverlay"
                     position="right"
                     view="vm.linkPickerOverlay.view">
        </umb-overlay>
        <umb-overlay ng-if="vm.mediaPickerOverlay.show"
                     model="vm.mediaPickerOverlay"
                     position="right"
                     view="vm.mediaPickerOverlay.view">
        </umb-overlay>
        <umb-overlay ng-if="vm.embedOverlay.show"
                     model="vm.embedOverlay"
                     position="right"
                     view="vm.embedOverlay.view">
        </umb-overlay>
        <umb-overlay ng-if="vm.macroPickerOverlay.show"
                     model="vm.macroPickerOverlay"
                     view="vm.macroPickerOverlay.view"
                     position="right">
        </umb-overlay>
    </div>
    <!--<div unique-id="control.$uniqueId"
         value="control.rteValue"
         grid-rte configuration="rteconfig" style="border:4px solid #EB4F1C;" class="testclass">
    </div>-->
</div>



<div ng-controller="Umbraco.PropertyEditors.Grid.MediaController" style="width:100%;float:left;">
    <div class="usky-editor-placeholder" ng-click="setImage()" ng-if="control.value === null">
        <i class="icon icon-picture"></i>
        <div ng-id="!control.$inserted" class="help-text">Insert trailing image (optional)</div>
    </div>
    <div ng-if="control.value" style="margin-left: auto; margin-right: auto; display: block; position: relative;">
        <div style="width: 90%; display: inline-block; max-height: 100px;">
            <img ng-if="url"
                 ng-click="setImage()"
                 ng-src="{{url}}"
                 class="" style="max-height: 100px;" />
        </div>
    </div>
    <umb-overlay ng-if="mediaPickerOverlay.show"
                 model="mediaPickerOverlay"
                 view="mediaPickerOverlay.view"
                 position="right">
    </umb-overlay>

</div>


