
<div>

<div ng-controller="CHControls.MultipleMediaController3" style="width:25%;float:left;" >
    <div class="fourimages" style="width:100%;">
	    <div class="usky-editor-placeholder imagegrid" ng-click="setImage('image1')" ng-if="control.value == null || control.value.images == null || control.value.images.image1 == null" style="width:100%; ">
		    <i class="icon icon-picture"></i>
		    <div ng-id="!control.$inserted" id="{{control.uniqueId}}" class="help-text">Image 1</div>
	    </div>

	    <div ng-if="control.value.images != null && control.value.images.image1 != null">
		    <div class="imggrid4wide">
                <span>Image 1</span>
			    <img				
				    ng-click="setImage('image1')"
				    ng-src="{{control.value.images.image1.image}}"
				    class="fullSizeImage" />
		    </div>
 	    </div>
    </div>
</div>

<div style="width:50%;float:left;">

<textarea
	rows="1"
	umb-auto-resize
	umb-auto-focus
	class="textstring input-block-level" id="{{control.uniqueId}}_heading"
	ng-model="control.value.Heading"
	ng-attr-style="{{control.editor.config.style}}" localize="placeholder" 
    placeholder="Heading...." style="color:#FFF;text-align:center;background:#eb4f1d;line-height:40px;height:40px;font-size:36px;width:100%;float:left;"></textarea>

<textarea
	rows="1"
	umb-auto-resize
	umb-auto-focus
	class="textstring input-block-level" id="{{control.uniqueId}}_text"
	ng-model="control.value.Summary"
	ng-attr-style="{{control.editor.config.style}}" localize="placeholder" 
    placeholder="Summary..." style="margin-top:10px;color:black;text-align:left;background:white;line-height:20px;height:40px;font-size:20px;width:100%;float:left;border:4px dashed #d9d9d9;"></textarea>



</div>

<div ng-controller="CHControls.MultipleMediaController3" style="width:25%;float:left;" >
    <div class="fourimages" style="width:100%;">
	    <div class="usky-editor-placeholder imagegrid" ng-click="setImage('image2')" ng-if="control.value == null || control.value.images == null || control.value.images.image2 == null" style="width:100%; ">
		    <i class="icon icon-picture"></i>
		    <div ng-id="!control.$inserted" id="Div1" class="help-text">Image 2</div>
	    </div>

	    <div ng-if="control.value.images != null && control.value.images.image2 != null">
		    <div class="imggrid4wide">
                <span>Image 1</span>
			    <img				
				    ng-click="setImage('image2')"
				    ng-src="{{control.value.images.image2.image}}"
				    class="fullSizeImage" />
		    </div>
 	    </div>
    </div>
</div>


</div>
