<div ng-controller="CHControls.DiseaseInfectionGroupController" class="diseasesarea">
    <!-- Top Image -->
    <div class="topimage headingbg">
        <br />
        <span>Top Image</span>
        <br />
        <br />
        <div class="usky-editor-placeholder imagegrid" ng-click="setImage('topimage')" ng-if="control.value == null || control.value.images == null || control.value.images.topimage == null" style="width: 100%;">
            <i class="icon icon-picture"></i>
            <div ng-id="!control.$inserted" id="divsmallimage" class="help-text">
                Top Image
            </div>
        </div>

        <div ng-if="control.value.images != null && control.value.images.topimage != null">
            <div class="imggrid4wide">
                <img ng-click="setImage('topimage')" ng-src="{{control.value.images.topimage.image}}" class="fullSizeImage" />
                <a href class="picked-image" ng-click="removeImage('topimage')"><i class="icon icon-delete"></i></a>
            </div>
        </div>
    </div>
    <!-- Repeatable Row for Disease -->
    <div class="repeatedrow" ng-repeat="input in control.inputs">
        <!-- Rich Text Editor for Top Conent -->
        <div class="topcontent fullwidthbox">
            <br />
            <span>Top Content</span>
            <br />
            <br />
            <div ng-controller="Umbraco.PropertyEditors.Grid.RichTextEditorController as vm" class="editorname">
                <div grid-rte
                     configuration="control.editor.config.dieditorrtetoolbar"
                     value="input.topcontent"
                     unique-id="control.$uniqueId + $index + 1"
                     on-link-picker-click="vm.openLinkPicker"
                     on-media-picker-click="vm.openMediaPicker"
                     on-embed-click="vm.openEmbed"
                     on-macro-picker-click="vm.openMacroPicker">
                </div>
                <umb-overlay ng-if="vm.linkPickerOverlay.show"
                             model="vm.linkPickerOverlay"
                             position="right"
                             view="vm.linkPickerOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="vm.mediaPickerOverlay.show"
                             model="vm.mediaPickerOverlay"
                             position="right"
                             view="vm.mediaPickerOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="vm.embedOverlay.show"
                             model="vm.embedOverlay"
                             position="right"
                             view="vm.embedOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="vm.macroPickerOverlay.show"
                             model="vm.macroPickerOverlay"
                             view="vm.macroPickerOverlay.view"
                             position="right">
                </umb-overlay>
            </div>
        </div>
        <!-- 3 and 4 Image Section with Text -->
        <div class="diseasebox">
            <div class="ul">
                <div class="li">
                    <div class="dis-icon">
                        <span>  Disease and Infection Image 1</span>
                        <div class="usky-editor-placeholder imagegrid" ng-click="setdiImage1(input.id)" ng-if="input.diimage1 == null" style="width: 100%;">
                            <i class="icon icon-picture"></i>
                            <div ng-id="!control.$inserted" id="divsmallimage" class="help-text">
                                Disease and Infection Image 1<br /> (Optional)
                            </div>
                        </div>

                        <div ng-if="input.diimage1 != null">
                            <div class="imggrid4wide">
                                <img ng-click="setdiImage1(input.id)" ng-src="{{input.diimage1.image}}" class="fullSizeImage" />
                                <a href class="picked-image" ng-click="removediImage1(input.id)"><i class="icon icon-delete"></i></a>
                            </div>
                        </div>
                    </div>
                    <textarea ng-model="input.diimage1text" cols="2"></textarea>
                </div>
                <div class="li">
                    <div class="dis-icon">
                        <span>  Disease and Infection Image 2</span>
                        <div class="usky-editor-placeholder imagegrid" ng-click="setdiImage2(input.id)" ng-if="input.diimage2 == null" style="width: 100%;">
                            <i class="icon icon-picture"></i>
                            <div ng-id="!control.$inserted" id="divsmallimage" class="help-text">
                                Disease and Infection Image 2<br /> (Optional)
                            </div>
                        </div>

                        <div ng-if="input.diimage2 != null">
                            <div class="imggrid4wide">
                                <img ng-click="setdiImage2(input.id)" ng-src="{{input.diimage2.image}}" class="fullSizeImage" />
                                <a href class="picked-image" ng-click="removediImage2(input.id)"><i class="icon icon-delete"></i></a>
                            </div>
                        </div>
                    </div>
                    <textarea ng-model="input.diimage2text" cols="2"></textarea>
                </div>
                <div class="li">
                    <div class="dis-icon">
                        <span>  Disease and Infection Image 3</span>
                        <div class="usky-editor-placeholder imagegrid" ng-click="setdiImage3(input.id)" ng-if="input.diimage3 == null" style="width: 100%;">
                            <i class="icon icon-picture"></i>
                            <div ng-id="!control.$inserted" id="divsmallimage" class="help-text">
                                Disease and Infection Image 3<br /> (Optional)
                            </div>
                        </div>

                        <div ng-if="input.diimage3 != null">
                            <div class="imggrid4wide">
                                <img ng-click="setdiImage3(input.id)" ng-src="{{input.diimage3.image}}" class="fullSizeImage" />
                                <a href class="picked-image" ng-click="removediImage3(input.id)"><i class="icon icon-delete"></i></a>
                            </div>
                        </div>
                    </div>
                    <textarea ng-model="input.diimage3text" cols="2"></textarea>
                </div>
                <div class="li">
                    <div class="dis-icon">
                        <span>  Disease and Infection Image 4</span>
                        <div class="usky-editor-placeholder imagegrid" ng-click="setdiImage4(input.id)" ng-if="input.diimage4 == null" style="width: 100%;">
                            <i class="icon icon-picture"></i>
                            <div ng-id="!control.$inserted" id="divsmallimage" class="help-text">
                                Disease and Infection Image 4<br /> (Optional)
                            </div>
                        </div>

                        <div ng-if="input.diimage4 != null">
                            <div class="imggrid4wide">
                                <img ng-click="setdiImage4(input.id)" ng-src="{{input.diimage4.image}}" class="fullSizeImage" />
                                <a href class="picked-image" ng-click="removediImage4(input.id)"><i class="icon icon-delete"></i></a>
                            </div>
                        </div>
                    </div>
                    <textarea ng-model="input.diimage4text" cols="2"></textarea>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- Rich Text Editor with For Symptoms Heading -->
        <div class="symptonsheading">
            <br />
            <span>Symptoms Heading</span>
            <br />
            <br />
            <input type="text" ng-model="input.symptonsheading" />
        </div>
        <!-- Images for Symtoms -->
        <div class="symptonsimages umb-editor umb-mediapicker commonbox">
            <ul ui-sortable="sortableOptions" class="umb-sortable-thumbnails ul">
                <li style="width: 200px;" class="li" ng-repeat="x in input.symptonsimages">
                    <input type="text" ng-model="x.diseasename" />
                    <span>
                        <img ng-src="{{x.image}}" alt="" ng-show="x.image" style="background-image: none;" ng-click="addsymptonsimage(input.id)">

                        <span class="icon-holder" ng-hide="x.image">
                            <i class="icon {{image.icon}} large"></i>
                            <small>{{image.name}}</small>
                        </span>

                        <a href class="picked-image" ng-click="removesymptonsimage($index, input.id)" style="background: #000000; background: rgba(0, 0, 0, 0.9); width: auto; height: auto;"><i class="icon icon-delete"></i></a>
                    </span>
                </li>
                <li style="border: none" class="li">
                    <a href="#" class="add-link" ng-click="addsymptonsimage(input.id)" prevent-default>
                        <i class="icon icon-add large"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Rich Text Editor for Bottom Conent -->
        <div class="bottomcontent">
            <br />
            <span>Bottom Content</span>
            <br />
            <br />
            <div ng-controller="Umbraco.PropertyEditors.Grid.RichTextEditorController as vm" class="editorname">
                <div grid-rte
                     configuration="control.editor.config.dieditorrtetoolbar"
                     value="input.bottomcontent"
                     unique-id="control.$uniqueId + $index + 3"
                     on-link-picker-click="vm.openLinkPicker"
                     on-media-picker-click="vm.openMediaPicker"
                     on-embed-click="vm.openEmbed"
                     on-macro-picker-click="vm.openMacroPicker">
                </div>
                <umb-overlay ng-if="vm.linkPickerOverlay.show"
                             model="vm.linkPickerOverlay"
                             position="right"
                             view="vm.linkPickerOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="vm.mediaPickerOverlay.show"
                             model="vm.mediaPickerOverlay"
                             position="right"
                             view="vm.mediaPickerOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="vm.embedOverlay.show"
                             model="vm.embedOverlay"
                             position="right"
                             view="vm.embedOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="vm.macroPickerOverlay.show"
                             model="vm.macroPickerOverlay"
                             view="vm.macroPickerOverlay.view"
                             position="right">
                </umb-overlay>
            </div>
        </div>
        <button class="btn btn-default pull-right margin10auto" type="button" ng-click="RemoveRow(input.id)">Remove Row</button>
        <!-- ssDivider -->
        <div class="hline"></div>
    </div>
    <button class="btn btn-default pull-right margin10auto" type="button" ng-click="AddRow()">Add Row</button>
</div>