<div class="orangegreyboxcovercontainer" ng-controller="CHControls.BoxwithOrangeGreyRowsController">
    <div ng-repeat="rowData in control.tabelsData" class="orangegreyboxcontainer">
        <div class="orangebox">
            <div ng-controller="Umbraco.PropertyEditors.Grid.RichTextEditorController as vm" class="editorname">
                <div grid-rte
                     configuration="control.editor.config.fcboxwithorangegreyrowsrtetoolbar"
                     value="rowData.orangeboxcontent"
                     unique-id="control.$uniqueId + $index + 1"
                     on-link-picker-click="vm.openLinkPicker"
                     on-media-picker-click="vm.openMediaPicker"
                     on-embed-click="vm.openEmbed"
                     on-macro-picker-click="vm.openMacroPicker" style="border:4px solid #EB4F1C;" class="testclass">
                </div>
                <umb-overlay ng-if="vm.linkPickerOverlay.show"
                             model="vm.linkPickerOverlay"
                             position="right"
                             view="vm.linkPickerOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="vm.mediaPickerOverlay.show"
                             model="vm.mediaPickerOverlay"
                             position="right"
                             view="vm.mediaPickerOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="vm.embedOverlay.show"
                             model="vm.embedOverlay"
                             position="right"
                             view="vm.embedOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="vm.macroPickerOverlay.show"
                             model="vm.macroPickerOverlay"
                             view="vm.macroPickerOverlay.view"
                             position="right">
                </umb-overlay>
            </div>
        </div>
        <div class="greybox">
            <div ng-controller="Umbraco.PropertyEditors.Grid.RichTextEditorController as vm" class="editorname">
                <div grid-rte
                     configuration="control.editor.config.fcboxwithorangegreyrowsrtetoolbar"
                     value="rowData.greyboxcontent"
                     unique-id="control.$uniqueId + $index  + 2"
                     on-link-picker-click="vm.openLinkPicker"
                     on-media-picker-click="vm.openMediaPicker"
                     on-embed-click="vm.openEmbed"
                     on-macro-picker-click="vm.openMacroPicker" style="border:4px solid #EB4F1C;" class="testclass">
                </div>
                <umb-overlay ng-if="vm.linkPickerOverlay.show"
                             model="vm.linkPickerOverlay"
                             position="right"
                             view="vm.linkPickerOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="vm.mediaPickerOverlay.show"
                             model="vm.mediaPickerOverlay"
                             position="right"
                             view="vm.mediaPickerOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="vm.embedOverlay.show"
                             model="vm.embedOverlay"
                             position="right"
                             view="vm.embedOverlay.view">
                </umb-overlay>
                <umb-overlay ng-if="vm.macroPickerOverlay.show"
                             model="vm.macroPickerOverlay"
                             view="vm.macroPickerOverlay.view"
                             position="right">
                </umb-overlay>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <button class="btn btn-default addbtn" type="button" ng-click="AddRow()">Add Row</button>
</div>