<div ng-controller="CHControls.MultipleMediaController3" class="siximagescontainer">
    <div class="siximages">
        <div class="usky-editor-placeholder imagegrid" ng-click="setImage('image1')" ng-if="control.value == null || control.value.images == null || control.value.images.image1 == null" style="width:100%; ">
            <i class="icon icon-picture"></i>
            <div ng-id="!control.$inserted" id="{{control.uniqueId}}" class="help-text">Image 1</div>
        </div>

        <div ng-show="control.value.images != null && control.value.images.image1 != null">
            <div class="imggrid4wide">
                <span>Image 1</span>
                <img ng-click="setImage('image1')"
                     ng-src="{{control.value.images.image1.image}}"
                     class="fullSizeImage" />
                <a href class="picked-image" ng-click="removeImage('image1')"><i class="icon icon-delete"></i></a>
            </div>
            <div class="img-desc textcenter">
                <span>Description 1</span>
                <div ng-controller="Umbraco.PropertyEditors.Grid.RichTextEditorController as vm" class="answer-control description editorname">
                    <div grid-rte
                         configuration="control.editor.config.fclinkedhorizontalimagesrtetoolbar"
                         value="control.value.image1description"
                         unique-id="control.$uniqueId + 1"
                         on-link-picker-click="vm.openLinkPicker"
                         on-media-picker-click="vm.openMediaPicker"
                         on-embed-click="vm.openEmbed"
                         on-macro-picker-click="vm.openMacroPicker">
                    </div>
                    <umb-overlay ng-if="vm.linkPickerOverlay.show"
                                 model="vm.linkPickerOverlay"
                                 position="right"
                                 view="vm.linkPickerOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.mediaPickerOverlay.show"
                                 model="vm.mediaPickerOverlay"
                                 position="right"
                                 view="vm.mediaPickerOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.embedOverlay.show"
                                 model="vm.embedOverlay"
                                 position="right"
                                 view="vm.embedOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.macroPickerOverlay.show"
                                 model="vm.macroPickerOverlay"
                                 view="vm.macroPickerOverlay.view"
                                 position="right">
                    </umb-overlay>
                </div>

                <div ng-controller="CHControls.LinkPickerController">
                    <div class="gibe-link-picker">
                        <p class="chosen" ng-show="control.links.link1">
                            <a href="{{control.links.link1.url}}" target="_blank">{{control.links.link1.name || control.links.link1.url}}</a>
                            <a class="remove" ng-click="removeLink('link1')"><i class="icon icon-delete"></i></a>
                            <a class="edit" ng-click="editLink('link1')"><i class="icon icon-edit"></i></a>
                        </p>
                        <p class="internal-picker" ng-hide="control.links.link1">
                            <a class="link" ng-click="chooseLink('link1')">Choose</a>
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="siximages">
        <div class="usky-editor-placeholder imagegrid" ng-click="setImage('image2')" ng-if="control.value == null || control.value.images == null || control.value.images.image2 == null" style="width:200%; ">
            <i class="icon icon-picture"></i>
            <div ng-id="!control.$inserted" id="{{control.uniqueId}}" class="help-text">Image 2</div>
        </div>

        <div ng-show="control.value.images != null && control.value.images.image2 != null">
            <div class="imggrid4wide">
                <span>Image 2</span>
                <img ng-click="setImage('image2')"
                     ng-src="{{control.value.images.image2.image}}"
                     class="fullSizeImage" />
                <a href class="picked-image" ng-click="removeImage('image2')"><i class="icon icon-delete"></i></a>
            </div>
            <div class="img-desc textcenter">
                <span>Description 2</span>
                <div ng-controller="Umbraco.PropertyEditors.Grid.RichTextEditorController as vm" class="answer-control description editorname">
                    <div grid-rte
                         configuration="control.editor.config.fclinkedhorizontalimagesrtetoolbar"
                         value="control.value.image2description"
                         unique-id="control.$uniqueId + 2"
                         on-link-picker-click="vm.openLinkPicker"
                         on-media-picker-click="vm.openMediaPicker"
                         on-embed-click="vm.openEmbed"
                         on-macro-picker-click="vm.openMacroPicker">
                    </div>
                    <umb-overlay ng-if="vm.linkPickerOverlay.show"
                                 model="vm.linkPickerOverlay"
                                 position="right"
                                 view="vm.linkPickerOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.mediaPickerOverlay.show"
                                 model="vm.mediaPickerOverlay"
                                 position="right"
                                 view="vm.mediaPickerOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.embedOverlay.show"
                                 model="vm.embedOverlay"
                                 position="right"
                                 view="vm.embedOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.macroPickerOverlay.show"
                                 model="vm.macroPickerOverlay"
                                 view="vm.macroPickerOverlay.view"
                                 position="right">
                    </umb-overlay>
                </div>

                <div ng-controller="CHControls.LinkPickerController">
                    <div class="gibe-link-picker">
                        <p class="chosen" ng-show="control.links.link2">
                            <a href="{{control.links.link2.url}}" target="_blank">{{control.links.link2.name || control.links.link2.url}}</a>
                            <a class="remove" ng-click="removeLink('link2')"><i class="icon icon-delete"></i></a>
                            <a class="edit" ng-click="editLink('link2')"><i class="icon icon-edit"></i></a>
                        </p>
                        <p class="internal-picker" ng-hide="control.links.link2">
                            <a class="link" ng-click="chooseLink('link2')">Choose</a>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="siximages">
        <div class="usky-editor-placeholder imagegrid" ng-click="setImage('image3')" ng-if="control.value == null || control.value.images == null || control.value.images.image3 == null" style="width:300%; ">
            <i class="icon icon-picture"></i>
            <div ng-id="!control.$inserted" id="{{control.uniqueId}}" class="help-text">Image 3</div>
        </div>

        <div ng-show="control.value.images != null && control.value.images.image3 != null">
            <div class="imggrid4wide">
                <span>Image 3</span>
                <img ng-click="setImage('image3')"
                     ng-src="{{control.value.images.image3.image}}"
                     class="fullSizeImage" />
                <a href class="picked-image" ng-click="removeImage('image3')"><i class="icon icon-delete"></i></a>
            </div>
            <div class="img-desc textcenter">
                <span>Description 3</span>
                <div ng-controller="Umbraco.PropertyEditors.Grid.RichTextEditorController as vm" class="answer-control description editorname">
                    <div grid-rte
                         configuration="control.editor.config.fclinkedhorizontalimagesrtetoolbar"
                         value="control.value.image3description"
                         unique-id="control.$uniqueId + 3"
                         on-link-picker-click="vm.openLinkPicker"
                         on-media-picker-click="vm.openMediaPicker"
                         on-embed-click="vm.openEmbed"
                         on-macro-picker-click="vm.openMacroPicker">
                    </div>
                    <umb-overlay ng-if="vm.linkPickerOverlay.show"
                                 model="vm.linkPickerOverlay"
                                 position="right"
                                 view="vm.linkPickerOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.mediaPickerOverlay.show"
                                 model="vm.mediaPickerOverlay"
                                 position="right"
                                 view="vm.mediaPickerOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.embedOverlay.show"
                                 model="vm.embedOverlay"
                                 position="right"
                                 view="vm.embedOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.macroPickerOverlay.show"
                                 model="vm.macroPickerOverlay"
                                 view="vm.macroPickerOverlay.view"
                                 position="right">
                    </umb-overlay>
                </div>

                <div ng-controller="CHControls.LinkPickerController">
                    <div class="gibe-link-picker">
                        <p class="chosen" ng-show="control.links.link3">
                            <a href="{{control.links.link3.url}}" target="_blank">{{control.links.link3.name || control.links.link3.url}}</a>
                            <a class="remove" ng-click="removeLink('link3')"><i class="icon icon-delete"></i></a>
                            <a class="edit" ng-click="editLink('link3')"><i class="icon icon-edit"></i></a>
                        </p>
                        <p class="internal-picker" ng-hide="control.links.link3">
                            <a class="link" ng-click="chooseLink('link3')">Choose</a>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="siximages">
        <div class="usky-editor-placeholder imagegrid" ng-click="setImage('image4')" ng-if="control.value == null || control.value.images == null || control.value.images.image4 == null" style="width:400%; ">
            <i class="icon icon-picture"></i>
            <div ng-id="!control.$inserted" id="{{control.uniqueId}}" class="help-text">Image 4</div>
        </div>

        <div ng-show="control.value.images != null && control.value.images.image4 != null">
            <div class="imggrid4wide">
                <span>Image 4</span>
                <img ng-click="setImage('image4')"
                     ng-src="{{control.value.images.image4.image}}"
                     class="fullSizeImage" />
                <a href class="picked-image" ng-click="removeImage('image4')"><i class="icon icon-delete"></i></a>
            </div>
            <div class="img-desc textcenter">
                <span>Description 4</span>
                <div ng-controller="Umbraco.PropertyEditors.Grid.RichTextEditorController as vm" class="answer-control description editorname">
                    <div grid-rte
                         configuration="control.editor.config.fclinkedhorizontalimagesrtetoolbar"
                         value="control.value.image4description"
                         unique-id="control.$uniqueId + 4"
                         on-link-picker-click="vm.openLinkPicker"
                         on-media-picker-click="vm.openMediaPicker"
                         on-embed-click="vm.openEmbed"
                         on-macro-picker-click="vm.openMacroPicker">
                    </div>
                    <umb-overlay ng-if="vm.linkPickerOverlay.show"
                                 model="vm.linkPickerOverlay"
                                 position="right"
                                 view="vm.linkPickerOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.mediaPickerOverlay.show"
                                 model="vm.mediaPickerOverlay"
                                 position="right"
                                 view="vm.mediaPickerOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.embedOverlay.show"
                                 model="vm.embedOverlay"
                                 position="right"
                                 view="vm.embedOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.macroPickerOverlay.show"
                                 model="vm.macroPickerOverlay"
                                 view="vm.macroPickerOverlay.view"
                                 position="right">
                    </umb-overlay>
                </div>
            
                <div ng-controller="CHControls.LinkPickerController">
                    <div class="gibe-link-picker">
                        <p class="chosen" ng-show="control.links.link4">
                            <a href="{{control.links.link4.url}}" target="_blank">{{control.links.link4.name || control.links.link4.url}}</a>
                            <a class="remove" ng-click="removeLink('link4')"><i class="icon icon-delete"></i></a>
                            <a class="edit" ng-click="editLink('link4')"><i class="icon icon-edit"></i></a>
                        </p>
                        <p class="internal-picker" ng-hide="control.links.link4">
                            <a class="link" ng-click="chooseLink('link4')">Choose</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="siximages">
        <div class="usky-editor-placeholder imagegrid" ng-click="setImage('image5')" ng-if="control.value == null || control.value.images == null || control.value.images.image5 == null" style="width:500%; ">
            <i class="icon icon-picture"></i>
            <div ng-id="!control.$inserted" id="{{control.uniqueId}}" class="help-text">Image 5</div>
        </div>

        <div ng-show="control.value.images != null && control.value.images.image5 != null">
            <div class="imggrid4wide">
                <span>Image 5</span>
                <img ng-click="setImage('image5')"
                     ng-src="{{control.value.images.image5.image}}"
                     class="fullSizeImage" />
                <a href class="picked-image" ng-click="removeImage('image5')"><i class="icon icon-delete"></i></a>
            </div>
            <div class="img-desc textcenter">
                <span>Description 5</span>
                <div ng-controller="Umbraco.PropertyEditors.Grid.RichTextEditorController as vm" class="answer-control description editorname">
                    <div grid-rte
                         configuration="control.editor.config.fclinkedhorizontalimagesrtetoolbar"
                         value="control.value.image5description"
                         unique-id="control.$uniqueId + 5"
                         on-link-picker-click="vm.openLinkPicker"
                         on-media-picker-click="vm.openMediaPicker"
                         on-embed-click="vm.openEmbed"
                         on-macro-picker-click="vm.openMacroPicker">
                    </div>
                    <umb-overlay ng-if="vm.linkPickerOverlay.show"
                                 model="vm.linkPickerOverlay"
                                 position="right"
                                 view="vm.linkPickerOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.mediaPickerOverlay.show"
                                 model="vm.mediaPickerOverlay"
                                 position="right"
                                 view="vm.mediaPickerOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.embedOverlay.show"
                                 model="vm.embedOverlay"
                                 position="right"
                                 view="vm.embedOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.macroPickerOverlay.show"
                                 model="vm.macroPickerOverlay"
                                 view="vm.macroPickerOverlay.view"
                                 position="right">
                    </umb-overlay>
                </div>
            
                <div ng-controller="CHControls.LinkPickerController">
                    <div class="gibe-link-picker">
                        <p class="chosen" ng-show="control.links.link5">
                            <a href="{{control.links.link5.url}}" target="_blank">{{control.links.link5.name || control.links.link5.url}}</a>
                            <a class="remove" ng-click="removeLink('link5')"><i class="icon icon-delete"></i></a>
                            <a class="edit" ng-click="editLink('link5')"><i class="icon icon-edit"></i></a>
                        </p>
                        <p class="internal-picker" ng-hide="control.links.link5">
                            <a class="link" ng-click="chooseLink('link5')">Choose</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="siximages">
        <div class="usky-editor-placeholder imagegrid" ng-click="setImage('image6')" ng-if="control.value == null || control.value.images == null || control.value.images.image6 == null" style="width:600%; ">
            <i class="icon icon-picture"></i>
            <div ng-id="!control.$inserted" id="{{control.uniqueId}}" class="help-text">Image 6</div>
        </div>

        <div ng-show="control.value.images != null && control.value.images.image6 != null">
            <div class="imggrid4wide">
                <span>Image 6</span>
                <img ng-click="setImage('image6')"
                     ng-src="{{control.value.images.image6.image}}"
                     class="fullSizeImage" />
                <a href class="picked-image" ng-click="removeImage('image6')"><i class="icon icon-delete"></i></a>
            </div>
            <div class="img-desc textcenter">
                <span>Description 6</span>
                <div ng-controller="Umbraco.PropertyEditors.Grid.RichTextEditorController as vm" class="answer-control description editorname">
                    <div grid-rte
                         configuration="control.editor.config.fclinkedhorizontalimagesrtetoolbar"
                         value="control.value.image6description"
                         unique-id="control.$uniqueId + 6"
                         on-link-picker-click="vm.openLinkPicker"
                         on-media-picker-click="vm.openMediaPicker"
                         on-embed-click="vm.openEmbed"
                         on-macro-picker-click="vm.openMacroPicker">
                    </div>
                    <umb-overlay ng-if="vm.linkPickerOverlay.show"
                                 model="vm.linkPickerOverlay"
                                 position="right"
                                 view="vm.linkPickerOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.mediaPickerOverlay.show"
                                 model="vm.mediaPickerOverlay"
                                 position="right"
                                 view="vm.mediaPickerOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.embedOverlay.show"
                                 model="vm.embedOverlay"
                                 position="right"
                                 view="vm.embedOverlay.view">
                    </umb-overlay>
                    <umb-overlay ng-if="vm.macroPickerOverlay.show"
                                 model="vm.macroPickerOverlay"
                                 view="vm.macroPickerOverlay.view"
                                 position="right">
                    </umb-overlay>
                </div>
            
                <div ng-controller="CHControls.LinkPickerController">
                    <div class="gibe-link-picker">
                        <p class="chosen" ng-show="control.links.link6">
                            <a href="{{control.links.link6.url}}" target="_blank">{{control.links.link6.name || control.links.link6.url}}</a>
                            <a class="remove" ng-click="removeLink('link6')"><i class="icon icon-delete"></i></a>
                            <a class="edit" ng-click="editLink('link6')"><i class="icon icon-edit"></i></a>
                        </p>
                        <p class="internal-picker" ng-hide="control.links.link6">
                            <a class="link" ng-click="chooseLink('link6')">Choose</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>