@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
<div class="piercing dwidth width768">
    <div class="piercingtop"></div>
    <div class="piercingsvg1 ltrtp"></div>
    <div class="piercinstick left">
        <img src="~/images/upwardarrow.svg" />
    </div>
    <div class="contentarea chrichtext">
        @Html.Raw(Model.rteValue)
    </div>
    <div class="piercingsvg1 rltbtm"></div>
    <div class="piercinstick right">
        <img src="~/images/downwardarrow.svg" />
    </div>
</div>