@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
<div class="piercing dwidth width768">
    <div class="piercingrow">
        <div class="piercingleft">
            <div class="piercinstick left">
                @*<img src="~/images/upwardarrow.svg" />*@
            </div>
        </div>
        <div class="piercingmiddle">
            <div class="piercingsvg1 ltrtp"></div>
            <div class="piercingtop"></div>
            <div class="contentarea chrichtext">
                @Html.Raw(Model.rteValue)
            </div>
            <div class="piercingsvg1 rltbtm"></div>
        </div>
        <div class="piercingright">
            <div class="piercinstick right">
                @*<img src="~/images/downwardarrow.svg" />*@
            </div>
        </div>
    </div>
</div>