<style>
.usky-editor-placeholder.imagegrid
{
    padding:0px;
}

.imggrid4wide
{   
    width:75%;display:inline-block;margin-left:12.5%; margin-right:12.5%;
    text-align:center;
}

.fourimages
{
    width:20%;float:left;
}


</style>

<div>


<div ng-controller="CHControls.MultipleMediaController3" style="width:100%;float:left;" >

<!-- first row -->
<div>

<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image1')" ng-if="control.value == null || control.value.images == null || control.value.images.image1 == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="{{control.uniqueId}}" class="help-text">Image 1</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image1 != null">
		<div class="imggrid4wide">
            <span>Image 1</span>
			<img				
				ng-click="setImage('image1')"
				ng-src="{{control.value.images.image1.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image2')" ng-if="control.value == null || control.value.images == null || control.value.images.image2 == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div2" class="help-text">Image 2</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image2 != null">
		<div class="imggrid4wide">
            <span>Image 2</span>
			<img				
				ng-click="setImage('image2')"
				ng-src="{{control.value.images.image2.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image3')" ng-if="control.value == null || control.value.images == null || control.value.images.image3 == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div3" class="help-text">Image 3</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image3 != null">
		<div class="imggrid4wide">
			<span>Image 3</span>
            <img				
				ng-click="setImage('image3')"
				ng-src="{{control.value.images.image3.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image4')" ng-if="control.value == null || control.value.images == null || control.value.images.image4 == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div4" class="help-text">Image 4</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image4 != null">
		<div class="imggrid4wide">
			<span>Image 4</span>
            <img				
				ng-click="setImage('image4')"
				ng-src="{{control.value.images.image4.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
</div> <!-- end of first row -->

<div style="clear:both;"></div>

<!-- second row -->
<div>

<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image1Alt')" ng-if="control.value == null || control.value.images == null || control.value.images.image1Alt == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div1" class="help-text">Image 1 (Rollover)</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image1Alt != null">
		<div class="imggrid4wide">
            <span>Image 1 - Rollover</span>
			<img				
				ng-click="setImage('image1Alt')"
				ng-src="{{control.value.images.image1Alt.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image2Alt')" ng-if="control.value == null || control.value.images == null || control.value.images.image2Alt == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div5" class="help-text">Image 2 (Rollover)</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image2Alt != null">
        <div class="imggrid4wide">
			<span>Image 2 - Rollover</span>
            <img				
				ng-click="setImage('image2Alt')"
				ng-src="{{control.value.images.image2Alt.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image3Alt')" ng-if="control.value == null || control.value.images == null || control.value.images.image3Alt == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div6" class="help-text">Image 3 (Rollover)</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image3Alt != null">
		<div class="imggrid4wide">
			<img				
				ng-click="setImage('image3Alt')"
				ng-src="{{control.value.images.image3Alt.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image4Alt')" ng-if="control.value == null || control.value.images == null || control.value.images.image4Alt == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div7" class="help-text">Image 4 (Rollover)</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image4Alt != null">
		<div class="imggrid4wide">
			<img				
				ng-click="setImage('image4Alt')"
				ng-src="{{control.value.images.image4Alt.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
</div> <!-- end of second row -->

<div style="clear:both;"></div>

<!-- third row -->
<div>

<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image5')" ng-if="control.value == null || control.value.images == null || control.value.images.image5 == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div8" class="help-text">Image 5</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image5 != null">
		<div class="imggrid4wide">
            <span>Image 5</span>
			<img				
				ng-click="setImage('image5')"
				ng-src="{{control.value.images.image5.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image6')" ng-if="control.value == null || control.value.images == null || control.value.images.image6 == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div9" class="help-text">Image 6</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image6 != null">
		<div class="imggrid4wide">
            <span>Image 6</span>
			<img				
				ng-click="setImage('image6')"
				ng-src="{{control.value.images.image6.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image7')" ng-if="control.value == null || control.value.images == null || control.value.images.image7 == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div10" class="help-text">Image 7</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image7 != null">
		<div class="imggrid4wide">
			<span>Image 7</span>
            <img				
				ng-click="setImage('image7')"
				ng-src="{{control.value.images.image7.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image8')" ng-if="control.value == null || control.value.images == null || control.value.images.image8 == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div11" class="help-text">Image 8</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image8 != null">
		<div class="imggrid4wide">
			<span>Image 8</span>
            <img				
				ng-click="setImage('image8')"
				ng-src="{{control.value.images.image8.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
</div> <!-- end of third row -->

<div style="clear:both;"></div>

<!-- fourth row -->
<div>

<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image5Alt')" ng-if="control.value == null || control.value.images == null || control.value.images.image5Alt == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div12" class="help-text">Image 5 (Rollover)</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image5Alt != null">
		<div class="imggrid4wide">
            <span>Image 5 - Rollover</span>
			<img				
				ng-click="setImage('image5Alt')"
				ng-src="{{control.value.images.image5Alt.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image6Alt')" ng-if="control.value == null || control.value.images == null || control.value.images.image6Alt == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div13" class="help-text">Image 6 (Rollover)</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image6Alt != null">
        <div class="imggrid4wide">
			<span>Image 6 - Rollover</span>
            <img				
				ng-click="setImage('image6Alt')"
				ng-src="{{control.value.images.image6Alt.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image7Alt')" ng-if="control.value == null || control.value.images == null || control.value.images.image7Alt == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div14" class="help-text">Image 7 (Rollover)</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image7Alt != null">
		<div class="imggrid4wide">
			<img				
				ng-click="setImage('image7Alt')"
				ng-src="{{control.value.images.image7Alt.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
<div class="fourimages">
	<div class="usky-editor-placeholder imagegrid" ng-click="setImage('image8Alt')" ng-if="control.value == null || control.value.images == null || control.value.images.image8Alt == null" style="width:100%; ">
		<i class="icon icon-picture"></i>
		<div ng-id="!control.$inserted" id="Div15" class="help-text">Image 8 (Rollover)</div>
	</div>

	<div ng-if="control.value.images != null && control.value.images.image8Alt != null">
		<div class="imggrid8wide">
			<img				
				ng-click="setImage('image8Alt')"
				ng-src="{{control.value.images.image8Alt.image}}"
				class="fullSizeImage" />
		</div>
 	</div>
</div>
</div> <!-- end of fourth row -->












</div> <!-- end of the controller div-->


<div style="clear:both;"></div>

</div>